aiohttp~=3.8.3
aiosqlite==0.17.0
akinator~=1.0.3
disnake==2.7.0
parsedatetime==2.6
python-dotenv==0.21.0
requests==2.28.1
textdistance~=4.5.0
aiocache==0.11.1
Pillow~=9.3.0
expr.py~=0.3.0
cachetools~=5.2.0
python-dateutil~=2.8.2
pytz==2022.6
asyncpg~=0.27.0
discord_together==1.2.6
