aiohttp~=3.8.3
aiosqlite==0.18.0
akinator~=1.0.3
disnake==2.9.0
parsedatetime==2.6
python-dotenv==0.21.1
requests==2.31.0
textdistance~=4.5.0
aiocache==0.12.0
Pillow==9.4.0
expr.py~=0.3.0
cachetools==5.3.0
python-dateutil~=2.8.2
pytz==2022.7.1
discord_together==1.2.6
better_profanity==0.7.0