aiohttp==3.8.1
aiosqlite==0.17.0
akinator==1.0.1
akinator.py==5.0.0
discord_together==1.2.5
disnake==2.5.1
expr==0.0.1h
parsedatetime==2.6
python-dotenv==0.20.0
python_dateutil==2.8.2
requests==2.27.1
textdistance==4.3.0
typing_extensions==4.3.0
