# Insert a bots token
TOKEN=
# needed for one command can be ignored in development
SRA_API_TOKEN=
# Used for weather command can be ignored in development
OPEN_WEATHER_MAP_API_KEY=
# Used for the upload checker can be ignored in development
YT_API_KEY=
# for db
POSTGRES_CONNECTION_STRING=
# Needs to be set to true or false
DEVELOPMENT=
# for currency command, can be ignored in development(exchangerates.org)(APP_ID)
CURRENCY_API_KEY=