# Insert a bots token
TOKEN=
# needed for one command can be ignored in development
SRA_API_TOKEN=
# Used for weather command can be ignored in development
OPEN_WEATHER_MAP_API_KEY=
# Used for the upload checker can be ignored in development
YT_API_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# Needs to be set to true or false
DEVELOPMENT=